{% extends 'base.html' %}

{% block content %}
<h1>Countries</h1>
<h3>Click on the genre name to see all the titles that have that genre</h3>
<div class="button-container">
  <form action="/top_actors_by_country" method="get">
    <a class="btn"><button type="submit" name="filter" value="true">See top actors</button></a>
  </form>
  <form action="/country_statistics" method="get">
    <a class="btn"><button type="submit" name="filter" value="true">See country statistics</button></a>
  </form>
</div>
<table class="styled-table">
  <tr>
    <th><b>Country Name</b></th>
  </tr>
  {% if countries %}
    {% for country in countries %}
    <tr>
        <td>
        <a href="/titles?val=country&country={{ country | urlencode }}" class="no-style-link">{{ country }}</a>
        </td>
    </tr>
    {% endfor %}
  {% else %}
  <p>No countries found.</p>
  {% endif %}
  
</table>
{% endblock %}
