{% extends 'base.html' %}

{% block content %}
<h1>Genres</h1>
<form action="/top_actors_by_genre" method="get">
  <a class="btn"><button type="submit" name="filter" value="true">See top actors</button></a>
</form>
<form action="/genre_statistics" method="get">
  <a class="btn"><button type="submit" name="filter" value="true">See genre statistics</button></a>
</form>
<table class="styled-table">
  <tr>
    <th><b>Name</b></th>
  </tr>
  {% if genres %}
    {% for genre in genres %}
    <tr>
        <td>
          <a href="/titles?val=genre&genre={{ genre | urlencode }}" class="no-style-link">{{ genre }}</a>
        </td>
    </tr>
    {% endfor %}
  {% else %}
  <p>No genres found.</p>
  {% endif %}
  
</table>
{% endblock %}
