{% extends 'base.html' %}

{% block content %}
<img src="{{ url_for('static', filename='assets/db.png') }}" alt="Database Image" class="resized-image">

<p class="informative_msg">Click on the buttons to show detailed informations about the database</p>

<table class="styled-table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Search</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Select all the shows</td>
            <td class="butt">
                <a href="/titles" class="btn"><button >Show films</button></a>
            </td>
        </tr>
        <tr>
            <td>Select the name of the actors of a film or show all the actors (if no input is given)</td>
            <td class="butt">
                <form action="/actors" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">Show actors</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Select the name of the directors of a film or show all the directors (if no input is given)</td>
            <td class="butt">
                <form action="/directors" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">Show directors</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Select all the genres of a film or show all the genres (if no input is given)</td>
            <td class="butt">
                <form action="/genres" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">Show genres</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Select the countries where a film is available or show all of the countries (if no input is given)</td>
            <td class="butt">
                <form action="/countries" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">Show countries</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Show how many shows where released per year</td>
            <td class="butt">
                <a href="/year_statistics" class="btn">
                    <button type="button">Show statistics</button>
                  </a>
            </td>
        </tr>
    </tbody>


<a href="/shows" class="btn">
    <button type="button">Show complete dataset</button>
</a>
{% endblock %}
