{% extends 'base.html' %}

{% block content %}
<img src="{{ url_for('static', filename='assets/db.png') }}" alt="Database Image">

<p class="informative_msg">Click on the buttons to view information about the database:</p>

<table class="styled-table">
    <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Seleciona os titulos dos filmes</td>
            <td class="butt">
                
                    <a href="/titles" class="btn"><button >View Titles</button></a>
                
            </td>
        </tr>
        <tr>
            <td>Seleciona o nome dos atores de um filme</td>
            <td class="butt">
                <form action="/actors" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">View Actors</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Seleciona o nome dos diretores de um filme</td>
            <td class="butt">
                <form action="/directors" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">View Directors</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Seleciona todos os genres ou os genres de um filme</td>
            <td class="butt">
                <form action="/genres" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">Search Genres</button></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>Seleciona todas as countries de um filme</td>
            <td class="butt">
                <form action="/countries" method="get" class="genre-form">
                    <input type="text" name="title" placeholder="Enter a show title" />
                    <a class="btn"><button type="submit">Search Countries</button></a>
                </form>
            </td>
        </tr>
    </tbody>

<!-- Button that links to the database page -->

<a href="/shows" class="btn">
    <button type="button">View dataset</button>
</a>
{% endblock %}