{% extends 'base.html' %}

{% block content %}
<a href="/" class="btn">
  <button type="button">Go Back</button>
</a>

<h1>Shows</h1>

<table class="styled-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Title</th>
      <th>Director</th>
      <th>Actors</th>
      <th>Country</th>
      <th>Date Added</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Duration</th>
      <th>Listed in</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for s in shows %}
    <tr>
      <td>{{ s.type }}</td>
      <td>{{ s.title }}</td>
      <td>
          {{ s.directors | join(', ') }}
      </td>
      <td>
          {{ s.actors | join(', ') }}

      </td>
      <td>{{ s.countries | join(', ') }}</td>
      <td>{{ s.release_date }}</td> 
      <td>{{ s.release_year }}</td>
      <td>{{ s.rating }}</td>
      <td>{{ s.duration }}</td> 
      <td>{{ s.genres | join(', ') }}</td>
      <td>{{ s.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
