{% extends 'base.html' %}

{% block content %}

<div class="search-container">
  <form action="/search_titles" method="get">
    <input 
        type="text" 
        name="query" 
        placeholder="Search titles..." 
        class="form-input" 
    />
    <a class="btn"><button type="submit">Search</button></a>
  </form>
</div>
<div class="filter-section">
  <form action="/titles" method="get" class="filter-form">
    <input type="hidden" name="val" value="filter_time" />
    
    <td for="category" class="form-label">Choose category:</td>
    <select name="category" id="category" class="form-select">
      <option value="All">Show All</option>
      <option value="Movie">Movie</option>
      <option value="TV Show">TV Show</option>
    </select>
    <td for="category" class="form-label">Choose type:</td>
    <select name="rating" id="rating" class="form-select">
      {% if ratings %}
        <option value="All">No Filter</option>
        {% for rating in ratings %}
          <option value="{{rating}}">{{rating}}</option>
        {% endfor %}
      {% else %}
      <option value="">No ratings available</option>
      {% endif %}
    </select> 

    <input 
      type="number" 
      name="min_time" 
      id="min_duration" 
      placeholder="Min duration (minutes)" 
      class="form-input" 
      min="0" 
    />
    <input 
      type="number" 
      name="max_time" 
      id="max_duration" 
      placeholder="Max duration (minutes)" 
      class="form-input" 
      min="0" 
    />

    <a class="btn"><button type="submit">Apply Filter</button><a>
  </form>
</div>

<table class="styled-table">
  <thead>
    <tr>
      <th><b>Show Titles</b></th>
      <th><b>Duration</b></th>
      <th><b>Rating</b></th>
      <th><b>Description</b></th>
    </tr>
  </thead>
  <tbody>
    {% if titles %}
      {% for item in titles %}
      <tr>
        <td><a>{{ item["title"] }}</a></td>
        <td>{{ item["duration"] }}</td>
        <td>{{ item["rating"] }}</td>
        <td>{{ item["description"] }}</td>
      </tr>
      {% endfor %}
    {% else %}
    <tr>
      <td colspan="3">No titles found.</td>
    </tr>
    {% endif %}
  </tbody>
</table>

<script>
  function updatePlaceholders() {
    const category = document.getElementById("category").value;
    const minInput = document.getElementById("min_duration");
    const maxInput = document.getElementById("max_duration");

    if (category === "Movie") {
      minInput.placeholder = "Min duration (minutes)";
      maxInput.placeholder = "Max duration (minutes)";
    } else if (category === "TV Show") {
      minInput.placeholder = "Min duration (seasons)";
      maxInput.placeholder = "Max duration (seasons)";
    }
  }

  document.getElementById("category").addEventListener("change", updatePlaceholders);
</script>
{% endblock %}
