.welcome_msg{
  text-align: center;
}

.informative_msg{
  text-align: left;
  font-size: 20px;
}

.btn button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #0a987c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover {
  background-color: #0b5546;

}

.back_btn{
  inherits: btn;
  left: 10px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th {
  border: 1px solid #dddddd;
  padding: 12px 15px;
  text-align: center ;
}

.styled-table td {
  border: 1px solid #dddddd;
  padding: 12px 15px;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.no-style-link {
  color: inherit;
  text-decoration: none;
}

.no-style-link:hover {
  text-decoration: underline; 
  color: darkgray; 
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.styled-table td.butt {
  text-align: center;
  vertical-align: middle; 
}

.genre-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.genre-form input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

.filter-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter-form {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.form-select,
.form-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.resized-image {
  max-width: 100%; 
  height: auto; 
  width: 800px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logo-image {
  max-width: 100%; 
  height: auto; 
  width: 50px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index:-10;
}