.welcome_msg{
  text-align: center;
}

.informative_msg{
  text-align: left;
  font-size: 20px;
}

.btn button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn button:hover {
  background-color: darkblue;

}
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th {
  border: 1px solid #dddddd;
  padding: 12px 15px;
  text-align: center ;
}
.styled-table td {
  border: 1px solid #dddddd;
  padding: 12px 15px;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.no-style-link {
  color: inherit; /* Match the text color of its parent */
  text-decoration: none; /* Remove the underline */
}

.no-style-link:hover {
  text-decoration: underline; 
  color: darkgray; 
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.styled-table td.butt {
  text-align: center;
  vertical-align: middle; 
}
